<%- include("partical/header")%>
  <%- include("partical/nav")%>

    <div class="bg-success p-2 text-white">

      <figure class="text-center">
        <blockquote class="blockquote">
          <p>ABOUT PAGE.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
      </figure>

    </div>

    <%- include("partical/footer")%>