<%- include("partical/header")%>
<%- include("partical/nav")%>

<h1>Forgot password Reset</h1>

<div class="p-3 mb-2 bg-success text-white">


<form action="/forgot-password/<%= id%>" method="post">
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">new password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>

  
  
  <button type="submit" class="btn btn-primary">Change Password</button>
 

</form>

</div>

<%- include("partical/footer")%>


