<%- include("partical/header")%>
<%- include("partical/nav")%>



<h2>RIGESTER USER</h2>
<div class="bg-success p-2 text-white bg-opacity-75">

<form action="/register-user" method="post">
   
<input type="text" name="name"  placeholder="fullname">
<br><br>
<input type="text" name="username"  placeholder="username">
<br><br>
<input type="text" name="email"  placeholder="email@service.provider">
<br><br>
<input type="password" name="password"  placeholder="******">
<br> <br>
<button>login</button>
</form>



</div>


<%- include("partical/footer")%>