<%- include("partical/header")%>
<%- include("partical/nav")%>

<h1>REset your password</h1>

<div class="p-3 mb-2 bg-success text-white">


<form action="/reset-password/<%= user._id%>" method="post">
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">exiciting password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="oldpassword" placeholder="current password">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"> new Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="newpassword" placeholder="new password">
  </div>
  
  <button type="submit" class="btn btn-primary">Reset</button>
 

</form>

</div>

<%- include("partical/footer")%>


